   
html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

input {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  padding: 15px;
  box-sizing: border-box;
}

.full-width-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

hr {
  margin: 0;
}

.button {
  padding: 10px;
  background: #76dc76;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  font: inherit;
  cursor: pointer
}

.button-default {
  background: #cacaca;
  color: black;
}

/* layout */
.container {
  height: 100%;
}

.main-content {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

/* orderList */
.new-order-form {
  margin-bottom: 10px;
}

.orders {
  margin: 0 auto;
  max-width: 980px;
}

.orders-header {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

/* order */
.order {
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}

.order-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-body {
  padding: 10px 20px;
  min-height: 60px;
}

.order-timer {
  text-align: right;
  font-weight: bold;
}

.order-lists {
  display: flex;
  justify-content: space-between;
}

.order-list {
  width: 300px;
}

.order-list-title {
  margin-bottom: 10px;
}

.orders-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flash-error {
  text-align: center;
  padding: 25px;
  background: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
